.crop-img {
    max-height:150px;
    max-width:100%;
}

.large-img {
    max-width: 70%;
    padding-top: 30px;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0 35px;
    text-transform: uppercase;
}